.myWorksBlock {
    min-height: 100vh;
    background-color: #a7a7f1;
    display: flex;
}

.myWorksContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: auto;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title {
    background-color: powderblue;
}