.contactsBlock {
    height: 50vh;
    background-color: #eaafa2;
}

.contactsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

/*.formContainer {*/
/*    border: 1px solid;*/
/*}*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
}

@media screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}

input {
    margin-bottom: 10px;
    background-color: #ececff;

}

textarea {
    background-color: #ececff;
}

.title {
    background-color: #ffe4c0;
    margin: 0;
}

.sendButton {
    font-weight: 700;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #a7a7f1;
}

.sendButton:hover {
    cursor: pointer;
    background-color: #8f8fec;
}

.sendButton:active {
    background-color: #ececff;
    border: 1px solid #677d67;

}