.remoteWorkBlock{
    height: 20vh;
    background-color: #111111;
    border-bottom: 6px solid #151313;
}

.remoteWorkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*flex-wrap: wrap;*/
}


.hireButton {
    background-color: #b4b4f7;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: 700;
}

.title {
    background-color: powderblue;
}



