@import "../../common/styles/sass/variables";

.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    color: $menuTextColor;
    &:hover {
        color: $btnHoverBg;
        /*box-shadow: 0 2px 0 #6f9a37;*/

    }
}


