.title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    position: relative;
    /*line-height: 1.2;*/
    margin: 20px 0 20px;
}

.title h2 {
    margin: 0;
}

.title::before {
    content: "";
    position: absolute;
    background: #454545;
    width: 60px;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 50%);
}