.mainBlock {
    height: 100vh;
    background-color: lightpink;
}



.intro {
    width: 300px;
    background-color: #c9dfec;
}

.photo {
    width: 300px;
    height: 400px;
    background-image: url("./../common/img.png");
    background-position-x: -80px;
    background-position-y: -10px;
}