.mainBlock {
    height: 100vh;
    background-color: lightpink;
}

.intro {
    width: 300px;
    background-color: #c9dfec;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.photo {
    width: 300px;
    height: 400px;
    background-image: url("./../common/img.png");
    background-position-x: -80px;
    background-position-y: -10px;
}