.mainBlock {
    /*min-height: 100vh;*/
    background-color: #131313;
    border-bottom: 6px solid #08071b8a;
}

.intro {
    /*width: 50%;*/
    /*background-color: #c9dfec;*/
    font-family: 'Poppins', sans-serif;
    color: #EEEEEE;
    padding: 20px 10px;
}

@media screen and (max-width: 600px) {
    .intro {
        width: 100%;
    }
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
}

h1 span {
    color: #62dafb;
}

.photo {
    width: 420px;
    height: 560px;
    background-image: url("./../common/images/about.ME.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #333;
}