.footerBlock {
    height: 35vh;
    background-color: #ebfcd6;
}

.footerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.instances {
    border: 1px solid;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: powderblue;
    margin: 0;
}

.copyrights {
    font-weight: 500;
    background-color: #eaafa3;
}