.footerBlock {
    min-height: 35vh;
    background-color: #ebfcd6;
    display: flex;
}

.footerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: auto;
}

.iconsBlock {
    border: 1px solid;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: #fed18d;
}


.title {
    background-color: powderblue;
}

.copyrights {
    font-weight: 500;
    background-color: #eaafa3;
    margin: 10px 0;
}