.footerBlock {
    height: 100vh;
    background-color: #ffe4c0;
}

.footerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.instances {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: powderblue;
}